/***********KIMBERLY***********/
.tituloProteina{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 15.5rem;
    margin-bottom: 21.8rem;
    font-size: 6.4rem;
    font-family: var(--titulos);
    font-weight: 400;
    color: var(--colorTexto);
}
.padreEsquema{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
    color: var(--colorTexto);
}
.padreEsquema h2{
    font-size: 3.2rem;
    font-family: var(--titulos);
    font-weight: 400;
}
.esquema{
    width: 100%;
    height: 67.9rem;
    background-color: aliceblue;
}

/*************GENESIS***********/
.padreProteinas{
    width: 113.2rem;
    height: 80.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    border-top: 5px solid var(--verde);
    margin-top: 9rem;
    border-bottom: 5px solid var(--verde);
}
.subVdProteina{
    width: 40.2rem;
    height: 7.8rem;
    margin-bottom: 3.1rem;
    text-align: center;
}
.subVdProteina h3{
    font-size: 3.2rem;
    font-family: var(--titulos);
    font-weight: 400;
    color: var(--colorTexto);
    
}
/*************NATALY*****************/
.padreTexProt{
    width: 113.2rem;
    height: 56.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: auto;
    border-bottom: 5px solid var(--verde);
    margin-bottom: 11.5rem;
}
.padreTexProt p{
    width: 49.6rem;
    height: auto;
    margin-right: 7.8rem;
    font-size: var(--parrafo);
}
.imgProteText{
    width: 41.8rem;
    height: 39.2rem;
    background-color: aliceblue;
}